{% extends "TotalcanDocumancerBundle:Frontpage:index.html.twig" %}

{% block content %}
{# Проверяем на какой стадии формирование документа, если шаг 1 #}
{% if app.session.get('clientId') == 0 %}
    {# Создаем нового клиента, возможность выбрать существующего #}
    <h4>Шаг 0. Создаем нового клиента или выбираем из списка.</h4>
    {% if clients is defined and clients%}
    <div class="btn-toolbar">
        <div class="btn-group">
            <div class="input-append">
            <form>
            <select name="clientId" id="appendedInputButton" >
                {% for client in clients %}
                    <option value="{{client.id}}">{{client.title}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-success" id="loadUserButton">Choose</button>
            </form>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-warning" id="newUserButton">New client</button>
        </div>
    </div>

        {% if clientForm is defined and clientForm%}
        <div id="newUserForm" class="hide">
            {{clientForm|raw}}
        </div>
        {% endif %}
    {% endif %}
    <br>
{% elseif app.session.get('clientId') > 0 %}
    {# Отображаем созданного клиента #}
    <h4>Шаг 1. Формируем данные клиента, добавляем при необходимости переменные.</h4>
    {% if clients is defined and clients%}
        {{clients.getVariables()}} <br>
    {% endif %}
    <br>
    {% if app.session.get('designId') == 0 %}
        <h4>Шаг 2. Выбираем оформление документа или создаем новое.</h4>
        <br>

    {% elseif app.session.get('designId') > 0 %}
        {# Если дизайн уже задан, проверяем текст #}
        {% if app.session.get('templateId') == 0 %}
            <h4>Шаг 3. Выбираем шаблон текста или создаем новый.</h4>
            <br>
        {% elseif app.session.get('templateId') > 0 %}
            {# Если дизайн уже задан, проверяем текст #}
            <h4>Шаг 4. Формируем документ и возвращаемся к основному мастеру.</h4>
            <br>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
