<div id="clientForm">
<form class="form-horizontal"  action="{{path('wizard_client')}}" method="post" {{ form_enctype(form) }}>
  <div class="control-group">

    {{ form_errors(form) }}
    {{ form_widget(form) }}
      <br>
   <div class="control-group">
       <button class="btn btn-success">Create</button>
  </div>
</form>
</div>