{% if app.session.get('clientId') == 0 %}
    <h4>Выбрать клиента</h4>
    {% include "TotalcanDocumancerBundle:Wizard:clientSelect.html.twig" %}
    <br>
{% elseif app.session.get('clientId') > 0 %}
    <h4>Клиент:</h4>
    {% if clientForm is defined and clientForm%}
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-primary" id="editClientButton"><i class="icon-edit icon-white"></i> {{client.title}}</button>
            <button class="btn btn-info" id="changeClientButton"><i class="icon-retweet icon-white"></i> Сменить</button>
        </div>
    </div>
    <div id="editClientForm" class="hide">
        {{clientForm|raw}}
    </div>
    <div id="selectClientForm" class="hide">
        {% include "TotalcanDocumancerBundle:Wizard:clientSelect.html.twig" %}
    </div>
    {% endif %}

{% endif %}