{% if app.session.get('designId') == 0 %}
    <h4>Выбрать дизайн.</h4>
    {% include "TotalcanDocumancerBundle:Wizard:designSelect.html.twig" %}
    <br>
{% elseif app.session.get('designId') > 0 %}
    <h4>Оформление:</h4>
    {% if designForm is defined and designForm%}
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-primary" id="editDesignButton"><i class="icon-edit icon-white"></i> {{design.title}}</button>
            <button class="btn btn-info" id="changeDesignButton"><i class="icon-retweet icon-white"></i> Сменить</button>
        </div>
    </div>
    <div id="editDesignForm" class="hide">
        {{designForm|raw}}
    </div>
    <div id="selectDesignForm" class="hide">
        {% include "TotalcanDocumancerBundle:Wizard:designSelect.html.twig" %}
    </div>
    {% endif %}
{% endif %}
