{% extends "TotalcanDocumancerBundle:Frontpage:index.html.twig" %}

{% block content %}
<h4>Шаг 0. Создаем новый шаблон текста.</h4>
<br>
<h4>Шаг 1. Формируем данные текста, добавляем при необходимости переменные.</h4>
<br>
<h4>Шаг 2. Выбираем клиента или создаем нового.</h4>
<br>
<h4>Шаг 3. Выбираем дизайн текста или создаем новый.</h4>
<br>
<h4>Шаг 4. Формируем документ и возвращаемся к основному мастеру.</h4>
<br>
{% endblock %}
