{% extends "TotalcanDocumancerBundle:Frontpage:index.html.twig" %}

{% block content %}
<h4>Шаг 0. Определяем порядок создания документа.</h4>
Возможность выбрать с чего начать:<br>
клиент,<br>
текст,<br>
оформление,<br>
при необходимости, создать новые: клиент, текст, оформление.
<h4>Шаг 1. В зависимости от шага 0, переходим на подмастера.</h4>
wizard_client<br>
wizard_template<br>
wizard_design<br>
<br>
<h4>Шаг 2. Возвращаемся с подмастера с готовым документом.</h4>
Возможность распечатать в браузере, сохранить в пдф или дать ссылку.
<br>
{% endblock %}
