{% extends "TotalcanDocumancerBundle::layout.html.twig" %}

{% block content %}
    <h1 class="title">Admin area</h1>

    Hello, Barif! You are the best one! <a class="btn btn-warning" href="{{ path("logout") }}">Logout</a>
{% endblock %}

